.signuplogin{
    width:500px;
    height:500px;
    display:block;
    margin:auto;
    position:relative;
    top:100px;
    border:1px solid  #f3af4a;
    box-shadow:4px 4px 4px  #f3af4a;
    padding-bottom:2%;
    border-radius: 10px;
}



.forms-title{
    border-radius:10px;
    background-color: #f3af4a;
    height:100px;
    color:white;
    font-size:30px;
    text-align:center;
    vertical-align: center;
    padding-top:37px;
    margin-bottom:10px;
    font-family: 'Permanent Marker', cursive;
}

.forms-body{
    margin:3%;
}


.menu{
    width:20%;
    margin-left:2%;
    /* background-color: #f3af4a; */
    margin-top:50px;
    position:fixed;
    border-radius: 10px;
   

}

.menu li{
    border-bottom:1px #f3af4a solid;
}
.menu a{
    color:#b96f00;
}
#appcont{
    position:relative;
    padding-top:20px;
    width:50%;
    margin-left:25%;
    /* background-color: #f3af4a; */
}

table{
    background-color: #f8f8f8;
    padding:5%;
    border-radius:10px;
    margin-left:4%;
    width:90%;
    margin-bottom:2%;
}
th{
   width:50%;
   padding:1%;
   border-right:1px solid #d68102;
}
td{
    padding:1%;
}

.heading-table{
    border-bottom:1px solid #d68205;
    width:100%;
    background-color: #fcd396;
}

#dateinput{
    padding:1%;
    font-size: 15px;
}
.active{
    background-color:#f5d062;
    color:white;
}
.active a{
    color:white;
}

.title{
    font-family: 'Permanent Marker', cursive;
}