*{
    margin:0;
    padding:0;
    font-family: 'Permanent Marker', cursive;

}
    
.circlePic{
    width: 30%;
    height: 55%;
    border: 1px solid black;
    border-radius: 50%;
    background-color:white; 
    position: absolute;   
    top: 50%;   
    left: 50%;   
    -webkit-transform: translate(-50%, -50%);   
    -moz-transform: translate(-50%, -50%);   
    -ms-transform: translate(-50%, -50%);   
    -o-transform: translate(-50%, -50%);   
    transform: translate(-50%, -50%);  
    z-index: 1; 
    background-image: url("../MealApp/assets/maincover.png");
    background-size: cover;
}
.circlePic:hover{

    /* animation: trans 1s ease-in; */
    width:40%;
    height:75%;
    transition: 1s ease-in-out;

}

.headername{
    text-align: center;
    margin-top:40%;
    margin-left:30%;
    color:white;
    background-color: black;
    width: 40%;
    font-size: 50px;
    line-height: 90%;
    padding-top:2%;
    padding-bottom:2%;
    border-radius:5px;

}


body {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}

.main {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0; 

}

.quarter-div {
    width: 50%;
    height: 50%;
    float: left;

}
.analysis {

}
.analysis>h3{
    font-size: 300%;
    margin-top:15%;
    margin-left: 25%; 
    font-family: 'Satisfy', cursive;

}
.analysis>h3:hover{
    color:#f5d062;

}
.login h3:hover{
    color:#f5d062;

}
.record h3:hover{
    color:black;

}
.planning h3:hover{
    color:black;

}

.record {
    background-color: #f5d062;
}
.record>h3{
    font-size: 300%;
    margin-top:15%;
    margin-left: 45%; 
    color: white;
    font-family: 'Satisfy', cursive;

}

.planning {
    background-color: #f5d062;

}
.planning>h3{
    font-size: 300%;
    margin-top:20%;
    margin-left: 25%; 
    color: white;
    font-family: 'Satisfy', cursive;

}


.login {

}
.login>a{
    text-decoration: none;
    color: black;
}
.login>a>h3{
    font-size: 300%;
    margin-top:20%;
    margin-left: 45%; 
    font-family: 'Satisfy', cursive;
}
.record>p{
    font-family: Arial, Helvetica, sans-serif;
    width:40%;
    margin-left:30%;
    text-align: center;
    color:white;
}
.analysis>p{
    font-family: Arial, Helvetica, sans-serif;
    width:40%;
    margin-left:15%;
    text-align: center;
    color:black;
}
.login>p{
    font-family: Arial, Helvetica, sans-serif;
    width:40%;
    margin-left:30%;
    text-align: center;
    color:black;
}

.planning>p{
    font-family: Arial, Helvetica, sans-serif;
    width:40%;
    margin-left:15%;
    text-align: center;
    color:white;
}